@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2b2b2b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-display);
  --font-display: var(--font-display);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  /* background: var(--color-gray-50); */

  color: var(--foreground);
  font-family: var(--font-display), sans-serif;
}

input {
  font-size: 16px;
}

button,
a:link {
  cursor: pointer;
}